[bumpversion]
current_version = 0.10.4
commit = True
tag = True
message = Bump to version {new_version}
tag_name = {new_version}

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
